<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8bafd24-85fc-4369-91c1-6082e8c12695" Alias="Button - Button Type" Level="1">
  <Info>
    <Name>Button - Button Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "submit",
    "reset"
  ]
}]]></Config>
</DataType>