<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d35010a6-57ea-4953-9d44-20acf7815e40" Alias="Contact - Contact Form - Block List " Level="1">
  <Info>
    <Name>Contact - Contact Form - Block List </Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "label": "InputText - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "9bbc6f0a-4808-44a7-b795-7732ba20df50",
      "label": "InputPassword - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "3b0d4ab8-1e0a-4f6d-ad04-b2ba9ee52bfc",
      "label": "InputTextArea - {=uniqueName}"
    },
    {
      "contentElementTypeKey": "b9d79e1b-bb5b-43be-aa0d-bf4441d91a58",
      "label": "Button - {=buttonType}"
    }
  ]
}]]></Config>
</DataType>