<?xml version="1.0" encoding="utf-8"?>
<DataType Key="182b6133-4598-4332-8a12-d9b601b57220" Alias="InputText - Input Types" Level="1">
  <Info>
    <Name>InputText - Input Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "text",
    "email",
    "tel",
    "password"
  ]
}]]></Config>
</DataType>