<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dc263749-2a33-490c-b868-9128bacc6c6e" Alias="Modular Page 005 - Layout - Block Grid Property Editor UI" Level="1">
  <Info>
    <Name>Modular Page 005 - Layout - Block Grid Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "d20ce45f-c9cd-42d0-baec-d24d68bc8c2c",
      "name": "Content"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "46ab9d1f-fda1-4091-9a62-b0ff3abd5cd9",
      "allowAtRoot": true,
      "label": "section - **{=sectionTitle}**",
      "areas": [
        {
          "key": "dcabec5d-3044-4914-a081-0e388e4d4658",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "9a94de71-c339-400c-afe7-c7d820e34a57",
      "allowAtRoot": false,
      "groupKey": "d20ce45f-c9cd-42d0-baec-d24d68bc8c2c",
      "label": "heading 1",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>