<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6be3eeb1-d0cd-4286-87c3-9da902b66fb5" Alias="Modular Page - Layout " Level="1">
  <Info>
    <Name>Modular Page - Layout </Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockGrid</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blockGroups": [
    {
      "key": "7ca0f175-896a-44fe-9350-329306e04749",
      "name": "Content"
    },
    {
      "key": "8395b4a2-2bd2-42da-b90d-2ba76e0b80f7",
      "name": "Containers"
    }
  ],
  "blocks": [
    {
      "contentElementTypeKey": "46ab9d1f-fda1-4091-9a62-b0ff3abd5cd9",
      "allowAtRoot": true,
      "label": "Section - **{=sectionTitle}**",
      "areaGridColumns": 12,
      "areas": [
        {
          "key": "341ee7a6-3644-4793-b71c-103c58819b86",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ],
      "groupKey": "8395b4a2-2bd2-42da-b90d-2ba76e0b80f7",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        }
      ]
    },
    {
      "contentElementTypeKey": "2377f523-1eb9-4f4d-bee4-81d449b50802",
      "allowAtRoot": true,
      "groupKey": "8395b4a2-2bd2-42da-b90d-2ba76e0b80f7",
      "label": "section - **{=sectionTitle}**",
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        }
      ],
      "areas": [
        {
          "key": "66327d6f-91b8-4812-a2ba-fd284e167c30",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "709af067-873b-458d-b058-8046ced32563",
      "allowAtRoot": false,
      "groupKey": "8395b4a2-2bd2-42da-b90d-2ba76e0b80f7",
      "label": "container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 10
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 5
        }
      ],
      "areas": [
        {
          "key": "a68383dd-928e-4da3-8340-1d62e6859a28",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "f42c1c7f-2a8e-43b6-8a37-f1c75842f476",
      "allowAtRoot": false,
      "groupKey": "8395b4a2-2bd2-42da-b90d-2ba76e0b80f7",
      "label": "dynamic container",
      "allowInAreas": true,
      "columnSpanOptions": [
        {
          "columnSpan": 3
        },
        {
          "columnSpan": 12
        },
        {
          "columnSpan": 11
        },
        {
          "columnSpan": 1
        },
        {
          "columnSpan": 2
        },
        {
          "columnSpan": 6
        },
        {
          "columnSpan": 7
        },
        {
          "columnSpan": 8
        },
        {
          "columnSpan": 9
        },
        {
          "columnSpan": 4
        },
        {
          "columnSpan": 5
        },
        {
          "columnSpan": 10
        }
      ],
      "areas": [
        {
          "key": "49a373bc-21e0-46d2-ac12-0460b8a09005",
          "alias": "area",
          "columnSpan": 12,
          "rowSpan": 1,
          "minAllowed": 0,
          "specifiedAllowance": []
        }
      ]
    },
    {
      "contentElementTypeKey": "8eba4902-04d2-4b91-976a-3530a77165ed",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "heading 6",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "04be9179-051c-4c94-8c73-6ea456b41eff",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "heading 3",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "ac42f001-6c50-400a-b611-02b39519d4c2",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "heading 2",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "9a94de71-c339-400c-afe7-c7d820e34a57",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "heading 1",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "f8fedda3-2e41-4f6a-be28-8ed7c8aa9d14",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "button link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "085e408a-eb40-44e7-ab71-590cd196e23e",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "image html element",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "090594ae-ff7a-464f-a452-924b0c306d33",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "link",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "b57ed3f8-fbcb-43ba-b89d-7ee55f6da81d",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "paragraph",
      "allowInAreas": true
    },
    {
      "contentElementTypeKey": "0ac46a5b-0d7d-4799-915a-8662cd73e247",
      "allowAtRoot": false,
      "groupKey": "7ca0f175-896a-44fe-9350-329306e04749",
      "label": "rich text",
      "allowInAreas": true
    }
  ],
  "gridColumns": 12
}]]></Config>
</DataType>