<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dd0d2cb-c287-4521-8283-62df7de493ed" Alias="Settings Page - Social Media Platforms" Level="1">
  <Info>
    <Name>Settings Page - Social Media Platforms</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "847da592-43ec-47f3-8dee-cf0388ca79e6",
      "label": "**{=platformName}** - {=platformAccountUrl}"
    }
  ]
}]]></Config>
</DataType>