<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7b38f35a-550f-4241-99a6-2922dab6eef7" Alias="Social Media Dropdown List" Level="1">
  <Info>
    <Name>Social Media Dropdown List</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Dropdown</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Facebook",
    "Instagram",
    "Twitter",
    "LinkedIn"
  ]
}]]></Config>
</DataType>