



<section class="our-expert-section">
    <div class="container">
        <div class="titles">
            <h6>Our expert</h6>
            <h2>A team of professionals with years of experience</h2>
        </div>
        <div class="experts-spotlight">
            <div class="expert-card">
                <img src="/media/5ahjz4zn/brandon-newton.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Brandon Newton</h5>
                        <p>Financial Advisor at Onatrix</p>
                    </div>
                </footer>
            </div>
            <div class="expert-card">
                <img src="/media/jugeac0k/expert2.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>AJ Carter</h5>
                        <p>Financial Advisor at Onatrix</p>
                    </div>
                </footer>
            </div>
            <div class="expert-card">
                <img src="/media/2kddmjoe/expert3.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Aaron Lambert</h5>
                        <p>Business Specialist at Onatrix</p>
                    </div>
                </footer>
            </div>
        </div>
        <div class="experts-smaller">
            <div class="expert-card">
                <img src="/media/o5ln13n3/expert4.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Tina Fox</h5>
                        <p>CEO & Founder at Onatrix</p>
                    </div>
                </footer>
            </div>
            <div class="expert-card">
                <img src="/media/ljadgkck/expert5.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Brandon Kerr</h5>
                        <p>CFO & Co-Founderat Onatrix</p>
                    </div>
                </footer>
            </div>
            <div class="expert-card">
                <img src="/media/fhrbskhj/expert6.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Miranda Dayton</h5>
                        <p>Head of HR at Onatrix</p>
                    </div>
                </footer>
            </div>
            <div class="expert-card">
                <img src="/media/kstdafyk/expert7.svg">
                <footer class="card-footer">
                    <div class="position">
                        <h5>Kevin Gardner</h5>
                        <p>Banking Advisor at Swedbank</p>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</section>