<section class="partners-section">
    <div class="container">
        <div class="partners">
            <img src="/media/v0uhim0k/partner1.svg">
            <img src="/media/kq4nve3f/partner2.svg">
            <img src="/media/vrbhshzh/partner3.svg">
            <img src="/media/edufv03e/partner4.svg">
            <img src="/media/ogcfgl13/partner5.svg">
            <img src="/media/3fvh3fxg/partner6.svg">
        </div>
    </div>
</section>

