@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

@{
	var selection = Umbraco.Content(Guid.Parse("8ae15e32-5a24-4102-a7b1-a636659ea070"))
    .ChildrenOfType("projectItemTemplate")
    .Where(x => x.IsVisible())
    .OrderBy(x => x.UpdateDate)
    .Take(4);
}


    <section class="recent-projects">
        <div class="container">
            <h6>OUR PROJECTS</h6>
            <h2>Recent projects</h2>
        </div>
        <div class="projects">
            @if (selection != null) {
                @foreach (var item in selection) {

                var image = item?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? "";


                <div class="project">
                    <img src="@image" alt="@item.Name()">
                    <a href="@item.Url()" class="project-information">
                        <div class="project-information-content">
                            <div class="text-box">
                                <p class="topic-text">@item.Name</p>
                                <p class="project-category">Financial Services</p>
                            </div>
                            <div class="icon-box">
                                <i class="fa-solid fa-circle-right"></i>
                            </div>
                        </div> 
                    </a>
                </div>
                }
            }

        </div>
    </section>

