

<section class="side-bar-right">
    <div class="content">
        <div class="recent-projects">
            <h5>Recent Projects</h5>
            <div class="my-project">
                <img src="/media/2typ3xh2/big-meeting.svg" alt="Big meeting">
                <div class="project-content">
                    <div class="inner-box">
                        <h6>Annual Report for Juva Inc.</h6>
                        <div class="publish-date">
                            <i class="fa-regular fa-calendar"></i>
                            <p class="date" >June 15, 2024</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tag-content">
            <h5>Tags</h5>
            <div class="tags-area">
                <div id="re" class="tag">Report</div>
                <div id="bp" class="tag">Business plans</div>
                <div id="in" class="tag">Insights</div>
                <div id="bu" class="tag">Business</div>
                <div id="ap" class="tag">App</div>
                <div id="pr" class="tag">Project</div>
                <div id="fi" class="tag">Finance</div>
                <div id="pri" class="tag">Pricing</div>
            </div>
        </div>
        <div class="help-box">
            <div class="box-content">
                <h5 class="box-h5">How can we help you?</h5>
                <p class="box-p">online support 24/7, we are here to help you</p>
                <input placeholder="E-mail address">
            </div>
            <img src="/media/sw5hn5hy/Mail.svg">
        </div>
    </div>
</section>