@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    
}


<section class="side-bar">
    <div class="content">
        <h5>About us</h5>
        <img src="/media/2typ3xh2/big-meeting.svg" alt="Big meeting">
        <p class="sidebar-text">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non </p>
        <div class="help-box">
            <div class="box-content">
                <h5 class="box-h5">How can we help you?</h5>
                <p class="box-p">online support 24/7, we are here to help you</p>
                <input placeholder="E-mail address">
                
            </div>
            <img src="/media/sw5hn5hy/Mail.svg">
        </div>
    </div>
</section>


