<section class="tags-section">
    <div class="container">
        <div class="content">
            <h5>Tags:</h5>
            <div class="tag-item">
                <p>Business</p>
            </div>
            <div class="tag-item">
                <p>Consulting</p>
            </div>
            <div class="tag-item">
                <p>Onatrix</p>
            </div>
        </div>
    </div>
</section>