<?xml version="1.0" encoding="utf-8"?>
<Media Key="37d87a64-bbe5-4f67-afe4-96b8301649e6" Alias="bg-globe1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bgGlobe1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T21:02:45</CreateDate>
    <NodeName Default="bg-globe1.svg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/s1dhvvp4/bg-globe1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>