<?xml version="1.0" encoding="utf-8"?>
<Media Key="de448411-09ab-437c-9f26-ff09ee26aadb" Alias="bg-globe2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bgGlobe2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T21:03:03</CreateDate>
    <NodeName Default="bg-globe2.svg" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2m2pmpfq/bg-globe2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>