<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e4c4c16-dae7-46de-80ce-6914440103e5" Alias="big-meeting.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bigMeetingsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T14:52:29</CreateDate>
    <NodeName Default="big-meeting.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2typ3xh2/big-meeting.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>