<?xml version="1.0" encoding="utf-8"?>
<Media Key="02a86d3a-27c3-4233-8925-d820b6cf9f5a" Alias="Component-1.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component1svg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T22:09:50</CreateDate>
    <NodeName Default="Component-1.svg (1)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zdiavygy/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>