<?xml version="1.0" encoding="utf-8"?>
<Media Key="21127270-2d85-4e2d-8f14-c8bf8a95b869" Alias="Component-1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Component1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T22:09:03</CreateDate>
    <NodeName Default="Component-1.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qlhlbq24/component-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>