<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7843a10-acdf-4eef-9677-06828773e270" Alias="expert3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:56:56</CreateDate>
    <NodeName Default="expert3" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2kddmjoe/expert3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>