<?xml version="1.0" encoding="utf-8"?>
<Media Key="ca91fda8-ea51-4686-ac57-5e7d5edf4cb3" Alias="expert5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:57:23</CreateDate>
    <NodeName Default="expert5" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ljadgkck/expert5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>