<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9e2b1bf-9c51-4702-ac52-798283550360" Alias="expert2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:56:15</CreateDate>
    <NodeName Default="expert2" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jugeac0k/expert2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>