<?xml version="1.0" encoding="utf-8"?>
<Media Key="cabb5fdb-7df2-4d82-9f28-015ff9563a11" Alias="expert6" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert6</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:57:40</CreateDate>
    <NodeName Default="expert6" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhrbskhj/expert6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>