<?xml version="1.0" encoding="utf-8"?>
<Media Key="177f6b85-dfa6-4ed0-a61c-a6a437e339c9" Alias="expert4" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:57:09</CreateDate>
    <NodeName Default="expert4" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/o5ln13n3/expert4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>