<?xml version="1.0" encoding="utf-8"?>
<Media Key="193eb30a-8636-41f6-b671-df9d9294995a" Alias="expert1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/expert1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T16:54:14</CreateDate>
    <NodeName Default="expert1" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5ahjz4zn/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>