<?xml version="1.0" encoding="utf-8"?>
<Media Key="57a9199f-645b-4e91-89e2-4b33ac24ae55" Alias="hero-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T20:20:47</CreateDate>
    <NodeName Default="hero-bg.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nwsaxnka/hero-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>