<?xml version="1.0" encoding="utf-8"?>
<Media Key="d173a09c-5782-40a4-b742-cfd93c94203e" Alias="Hero-background-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroBackgroundImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-12T20:14:24</CreateDate>
    <NodeName Default="Hero-background-image.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nyoncm2z/hero-background-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>