<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bc32bc7-5928-4a42-9dec-d7d3a195563f" Alias="hero picture" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroPicture</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T22:21:04</CreateDate>
    <NodeName Default="hero picture" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jdqjldkb/sl-home2.svg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>