<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2088d0f-f7f9-4b23-b708-5235658606eb" Alias="Hero slider" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HeroSlider</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T22:14:32</CreateDate>
    <NodeName Default="Hero slider" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5uykuahc/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>