<?xml version="1.0" encoding="utf-8"?>
<Media Key="834791af-8ff7-45b9-94eb-b8d4f5bcd591" Alias="hero image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/heroImage</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T22:20:01</CreateDate>
    <NodeName Default="hero image" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/luwokypm/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>