<?xml version="1.0" encoding="utf-8"?>
<Media Key="05820731-d8a7-4e3d-a7d6-87543ea588d5" Alias="kevin-gardner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T13:41:37</CreateDate>
    <NodeName Default="kevin-gardner.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yo3cbz32/kevin-gardner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>