<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ed40267-15e3-4be6-a710-34600f7e030b" Alias="mail-logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mailLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T17:44:38</CreateDate>
    <NodeName Default="mail-logo" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sw5hn5hy/mail.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>