<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d84d5a1-287f-435e-8178-c15a034a3d15" Alias="map-onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mapOnatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T22:42:20</CreateDate>
    <NodeName Default="map-onatrix" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/knucn11e/map1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>