<?xml version="1.0" encoding="utf-8"?>
<Media Key="d521cbb9-4745-4d8e-9ca8-fe6db24e9df2" Alias="meeting-image.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/meetingImagesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T22:45:06</CreateDate>
    <NodeName Default="meeting-image.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jn1ign04/meeting-image.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>