<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0781120-9b0e-49f7-94fa-e49312fd8b6c" Alias="onatrix-Brand.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrixBrandsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T12:17:45</CreateDate>
    <NodeName Default="onatrix-Brand.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0kwnueqv/onatrix-brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>