<?xml version="1.0" encoding="utf-8"?>
<Media Key="81e817bd-5e6b-4f61-9150-255d8f24c63c" Alias="onatrix-employees.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/onatrixEmployeessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T21:46:14</CreateDate>
    <NodeName Default="onatrix-employees.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j4veuy1q/onatrix-employees.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>