<?xml version="1.0" encoding="utf-8"?>
<Media Key="87ced96f-dba5-4c1b-8767-844256269fe3" Alias="OnlineSignatures.net-302 1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnlineSignaturesnet3021svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T11:17:19</CreateDate>
    <NodeName Default="OnlineSignatures.net-302 1.svg" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvsgyzn4/onlinesignaturesnet-302-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>