<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdf13983-a566-4f12-b36f-e91d3491fa80" Alias="partner5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner5</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:23:11</CreateDate>
    <NodeName Default="partner5" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ogcfgl13/partner5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>