<?xml version="1.0" encoding="utf-8"?>
<Media Key="fddbfe5e-bb3c-4ee6-ad59-8a94236a8e75" Alias="partner3" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:22:25</CreateDate>
    <NodeName Default="partner3" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vrbhshzh/partner3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>