<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1d6155c-7651-4454-8a88-f3de53f1d116" Alias="partner1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-26T23:21:53</CreateDate>
    <NodeName Default="partner1" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0uhim0k/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>