<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f74510c-560d-40fc-a8aa-ae043ae86ec8" Alias="project-image4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectImage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T22:23:46</CreateDate>
    <NodeName Default="project-image4.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/51wnm1iw/project-image4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>