<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1c7af18-9ef9-4fe0-86a1-415feed864d8" Alias="project-image1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T17:51:20</CreateDate>
    <NodeName Default="project-image1.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ijgka5c/project-image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>