<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac2e1588-40c6-4462-8dfc-dfb2805d3439" Alias="project-image2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T22:14:57</CreateDate>
    <NodeName Default="project-image2.svg" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pkuiytw3/project-image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>