<?xml version="1.0" encoding="utf-8"?>
<Media Key="450b4d76-7b8d-4a12-ab4d-efd8abbd5149" Alias="project-image3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectImage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T22:22:12</CreateDate>
    <NodeName Default="project-image3.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qtyktj2w/project-image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>