<?xml version="1.0" encoding="utf-8"?>
<Media Key="89066841-f1ed-4987-a128-4c9595650a23" Alias="project-img2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectImg2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T22:16:10</CreateDate>
    <NodeName Default="project-img2.svg" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wpkli05w/project-img2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>