<?xml version="1.0" encoding="utf-8"?>
<Media Key="31c3c2e6-3d4e-4c5b-ab42-8d425c98455f" Alias="project-pic2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectPic2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T18:04:12</CreateDate>
    <NodeName Default="project-pic2.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cr5hdu0v/project-pic2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>