<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e66ea6e-ed0c-4158-9a99-d09b8cf61391" Alias="project-pic.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectPicsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-25T17:56:26</CreateDate>
    <NodeName Default="project-pic.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/trlnjxax/project-pic.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>