<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd79765f-6561-48b0-8056-eb73ef1be0de" Alias="service-image6.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage6svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T15:44:27</CreateDate>
    <NodeName Default="service-image6.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vxfnwx10/service-image6.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>