<?xml version="1.0" encoding="utf-8"?>
<Media Key="136c135b-a05c-4fb3-b6c5-46e9175c41d0" Alias="service-image3.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage3svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T15:42:22</CreateDate>
    <NodeName Default="service-image3.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vgxm32kh/service-image3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>