<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfc794bd-cc6e-4336-bd4e-3549d80193a6" Alias="service-image4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T15:43:15</CreateDate>
    <NodeName Default="service-image4.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j2uhkllv/service-image4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>