<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d961aa4-cd60-4be5-81bd-5c02c69fff20" Alias="service-image1.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage1svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T14:40:44</CreateDate>
    <NodeName Default="service-image1.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k0tdjx11/service-image1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>