<?xml version="1.0" encoding="utf-8"?>
<Media Key="38749bd1-b174-46f1-a985-4c317a42d06f" Alias="service-image2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T15:39:46</CreateDate>
    <NodeName Default="service-image2.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/emtnnwtp/service-image2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>