<?xml version="1.0" encoding="utf-8"?>
<Media Key="d27712d1-6ffa-46ff-8ad1-3289081cbec1" Alias="service-image5.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/serviceImage5svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-21T15:43:50</CreateDate>
    <NodeName Default="service-image5.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eoxnkmhb/service-image5.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>