<?xml version="1.0" encoding="utf-8"?>
<Media Key="9821fc6d-6257-494a-b818-91a953d7d1bf" Alias="Signature" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Signature</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-27T22:18:24</CreateDate>
    <NodeName Default="Signature" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/2i1golr4/onlinesignaturesnet-302-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>