<?xml version="1.0" encoding="utf-8"?>
<Media Key="acb50170-5cea-486c-adfb-91cb6aa1d7ad" Alias="sl-home2.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T22:43:34</CreateDate>
    <NodeName Default="sl-home2.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qk4botxr/sl-home2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>