<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2e7f3f5-7715-426b-a360-3e44fa82960a" Alias="smilingdude" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smilingdude</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-19T22:12:13</CreateDate>
    <NodeName Default="smilingdude" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a3hekuao/smiling-dude.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>