<?xml version="1.0" encoding="utf-8"?>
<Media Key="43b05d58-3bf9-43a3-8bf4-14dafab9b8e6" Alias="tina-fox-ceo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxCeosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-10-03T12:08:44</CreateDate>
    <NodeName Default="tina-fox-ceo.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vlqbfipc/tina-fox-ceo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>