<?xml version="1.0" encoding="utf-8"?>
<Media Key="12393768-3ffe-411c-aa2b-e9fed66a13a6" Alias="world-bg.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/worldBgsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-15T21:46:37</CreateDate>
    <NodeName Default="world-bg.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tkfjx2hf/world-bg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>