<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb8ac59b-49a9-471c-aa8b-00205abc08a4" Alias="About" Level="2">
  <Info>
    <Parent Key="36447a10-1a3e-472b-99e9-9069a116eacf">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUs</ContentType>
    <CreateDate>2024-09-16T22:13:48</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1efc436a-e1da-423a-a698-9f498a996c86">aboutUs</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
    <selectedImage1>
      <Value><![CDATA[[
  {
    "key": "bd13ee6b-564a-4ca9-9fbd-d4e56a47b9d0",
    "mediaKey": "37d87a64-bbe5-4f67-afe4-96b8301649e6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedImage1>
    <selectedImage2>
      <Value><![CDATA[[
  {
    "key": "d94a13a7-caff-4244-9f0d-353ffd226f7b",
    "mediaKey": "de448411-09ab-437c-9f26-ff09ee26aadb",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedImage2>
  </Properties>
</Content>