<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c666d9a-70e3-4ced-8d03-2a17a81c9862" Alias="Contact" Level="2">
  <Info>
    <Parent Key="36447a10-1a3e-472b-99e9-9069a116eacf">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2024-09-16T22:22:19</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c0782ad1-d322-4c3c-810a-6311c217a9c1">contact</Template>
  </Info>
  <Properties>
    <contactForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/ee2371cfa58e43ce85cb7fa358b7447f",
      "uniqueName": "name",
      "labelText": "Name",
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your name"
    },
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/8ea2908d612144c09d657b46bfae2631",
      "uniqueName": "email",
      "labelText": "E-mail Address",
      "placeholderText": "E-mail address",
      "inputType": "[\u0022email\u0022]",
      "isRequired": 1,
      "errorMessage": "You must enter your e-mail address"
    },
    {
      "contentTypeKey": "b9d79e1b-bb5b-43be-aa0d-bf4441d91a58",
      "udi": "umb://element/cbe87b8929e04f39b6707b2c8f90491a",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    },
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/c835682a5b7b4a06aba63bbd636d20a8",
      "uniqueName": "phone",
      "labelText": "Phone",
      "placeholderText": "Phone",
      "inputType": "[\u0022tel\u0022]",
      "isRequired": 1,
      "errorMessage": "Enter your phone number."
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/ee2371cfa58e43ce85cb7fa358b7447f",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/c835682a5b7b4a06aba63bbd636d20a8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8ea2908d612144c09d657b46bfae2631",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/cbe87b8929e04f39b6707b2c8f90491a",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </contactForm>
    <headingContent>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </headingContent>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <selectedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9c48263d-2fa1-495d-93e6-71a14b60c2e9",
    "mediaKey": "21127270-2d85-4e2d-8f14-c8bf8a95b869",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedBackgroundImage>
    <selectedImage>
      <Value><![CDATA[[
  {
    "key": "123f25b6-7943-4fc4-84a0-86f97f63a4fc",
    "mediaKey": "b2e7f3f5-7715-426b-a360-3e44fa82960a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedImage>
  </Properties>
</Content>