<?xml version="1.0" encoding="utf-8"?>
<Content Key="36447a10-1a3e-472b-99e9-9069a116eacf" Alias="Official Website - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OfficialWebsiteHome</Path>
    <Trashed>false</Trashed>
    <ContentType>modularPage</ContentType>
    <CreateDate>2024-09-12T18:57:18</CreateDate>
    <NodeName Default="Official Website - Home" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0029d5a6-0cf8-45e3-a514-bfe360fee78d">modularPage</Template>
  </Info>
  <Properties>
    <buttonContent>
      <Value><![CDATA[Read our story]]></Value>
    </buttonContent>
    <buttonUrl>
      <Value><![CDATA[/NotFound]]></Value>
    </buttonUrl>
    <callbackForm>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/70c87e8383c247159ee8911b5da6fe4b",
      "uniqueName": "name",
      "labelText": "Name",
      "placeholderText": "Name",
      "inputType": "[\u0022text\u0022]",
      "isRequired": 0,
      "errorMessage": "Enter your name here"
    },
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/160ed182426e46df857ca9cefa6a478a",
      "uniqueName": "email",
      "labelText": "Email",
      "placeholderText": "Email address",
      "inputType": "[\u0022email\u0022]",
      "isRequired": 0,
      "errorMessage": "Enter your email adress here"
    },
    {
      "contentTypeKey": "63b38df3-f396-4159-a972-547cc3297f1e",
      "udi": "umb://element/26b7348c832248ea8bee196b4760ecc2",
      "uniqueName": "phone",
      "labelText": "Phone",
      "placeholderText": "Phone",
      "inputType": "[\u0022tel\u0022]",
      "isRequired": 0,
      "errorMessage": "Enter your phone number here"
    },
    {
      "contentTypeKey": "b9d79e1b-bb5b-43be-aa0d-bf4441d91a58",
      "udi": "umb://element/e7850b344c584c36a96f4163c636ae3e",
      "buttonText": "Submit",
      "buttonType": "[\u0022submit\u0022]"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/70c87e8383c247159ee8911b5da6fe4b",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/160ed182426e46df857ca9cefa6a478a",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/26b7348c832248ea8bee196b4760ecc2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/e7850b344c584c36a96f4163c636ae3e",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </callbackForm>
    <chosenHeadlineContent>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </chosenHeadlineContent>
    <contentParagraph>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </contentParagraph>
    <data1Content>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </data1Content>
    <data1Count>
      <Value><![CDATA[689]]></Value>
    </data1Count>
    <data2Content>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </data2Content>
    <data2Count>
      <Value><![CDATA[370]]></Value>
    </data2Count>
    <data3Content>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </data3Content>
    <data3Count>
      <Value><![CDATA[125]]></Value>
    </data3Count>
    <headline2Content>
      <Value><![CDATA[4.000+ clients]]></Value>
    </headline2Content>
    <headlineContent>
      <Value><![CDATA[We are trusted by more than ]]></Value>
    </headlineContent>
    <layout>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "2377f523-1eb9-4f4d-bee4-81d449b50802",
      "udi": "umb://element/348bde8dc74945a4b3362012c11907fa",
      "sectionTitle": "Hero Section",
      "sectionBackgroundColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}",
      "addSpaceToTop": 0,
      "addSpaceToBottom": 1,
      "sectionBackgroundImage": "[{\u0022key\u0022:\u00225b1535b3-08f1-4675-a0b4-c8afbcfe18e6\u0022,\u0022mediaKey\u0022:\u002257a9199f-645b-4e91-89e2-4b33ac24ae55\u0022,\u0022mediaTypeAlias\u0022:\u0022umbracoMediaVectorGraphics\u0022,\u0022crops\u0022:[],\u0022focalPoint\u0022:null}]",
      "centerContentOnPage": 0
    },
    {
      "contentTypeKey": "709af067-873b-458d-b058-8046ced32563",
      "udi": "umb://element/671d1f417dcc489799dd0ecc800169cd"
    },
    {
      "contentTypeKey": "f42c1c7f-2a8e-43b6-8a37-f1c75842f476",
      "udi": "umb://element/2b63e28431a94d24968961d9815af17a"
    },
    {
      "contentTypeKey": "9a94de71-c339-400c-afe7-c7d820e34a57",
      "udi": "umb://element/3fbad4bd62bf4b8dbc9fc67b9a69a4ab",
      "headlineContent": "We bring success to you"
    },
    {
      "contentTypeKey": "b57ed3f8-fbcb-43ba-b89d-7ee55f6da81d",
      "udi": "umb://element/a7f412278e3f41a39b02468bf4e93f14",
      "paragraphContent": "Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim"
    },
    {
      "contentTypeKey": "f8fedda3-2e41-4f6a-be28-8ed7c8aa9d14",
      "udi": "umb://element/e59c0ec67dd144b5af0d3c4b83db011d",
      "buttonLinkText": "Contact us",
      "buttonLinkUrl": "/contact",
      "buttonColor": "{\r\n  \u0022label\u0022: \u0022Primary\u0022,\r\n  \u0022value\u0022: \u0022#4F5955\u0022\r\n}"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockGrid": [
      {
        "contentUdi": "umb://element/348bde8dc74945a4b3362012c11907fa",
        "settingsUdi": null,
        "columnSpan": 12,
        "rowSpan": 1,
        "areas": [
          {
            "key": "66327d6f-91b8-4812-a2ba-fd284e167c30",
            "items": [
              {
                "contentUdi": "umb://element/671d1f417dcc489799dd0ecc800169cd",
                "settingsUdi": null,
                "columnSpan": 12,
                "rowSpan": 1,
                "areas": [
                  {
                    "key": "a68383dd-928e-4da3-8340-1d62e6859a28",
                    "items": [
                      {
                        "contentUdi": "umb://element/2b63e28431a94d24968961d9815af17a",
                        "settingsUdi": null,
                        "columnSpan": 5,
                        "rowSpan": 1,
                        "areas": [
                          {
                            "key": "49a373bc-21e0-46d2-ac12-0460b8a09005",
                            "items": [
                              {
                                "contentUdi": "umb://element/3fbad4bd62bf4b8dbc9fc67b9a69a4ab",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/a7f412278e3f41a39b02468bf4e93f14",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              },
                              {
                                "contentUdi": "umb://element/e59c0ec67dd144b5af0d3c4b83db011d",
                                "settingsUdi": null,
                                "columnSpan": 12,
                                "rowSpan": 1,
                                "areas": []
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                ]
              }
            ]
          }
        ]
      }
    ]
  }
}]]></Value>
    </layout>
    <pageTitle>
      <Value><![CDATA[Onatrix Website]]></Value>
    </pageTitle>
    <paragraphContent>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </paragraphContent>
    <qoutationText>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </qoutationText>
    <sectionMiniTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </sectionMiniTitle>
    <sectionSelectedImage>
      <Value><![CDATA[[
  {
    "key": "78f125a7-de98-48db-acd6-c1bf4cb22015",
    "mediaKey": "d521cbb9-4745-4d8e-9ca8-fe6db24e9df2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </sectionSelectedImage>
    <sectionSelectedTitle>
      <Value><![CDATA[Success story]]></Value>
    </sectionSelectedTitle>
    <sectionTitle>
      <Value><![CDATA[Our Story Section]]></Value>
    </sectionTitle>
    <selectedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "a7d9b326-a171-4f42-aedc-1f4d06256f53",
    "mediaKey": "12393768-3ffe-411c-aa2b-e9fed66a13a6",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedBackgroundImage>
    <selectedImage>
      <Value><![CDATA[[
  {
    "key": "936c51f0-7f44-40f7-bfcb-1e7f600a4600",
    "mediaKey": "81e817bd-5e6b-4f61-9150-255d8f24c63c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedImage>
    <selectedPageTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </selectedPageTitle>
    <selectedSignatureImage>
      <Value><![CDATA[[
  {
    "key": "4086be4e-d59c-45ef-a939-5277d43f6f35",
    "mediaKey": "87ced96f-dba5-4c1b-8767-844256269fe3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </selectedSignatureImage>
    <signatureContent>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </signatureContent>
  </Properties>
</Content>