<?xml version="1.0" encoding="utf-8"?>
<Content Key="8ae15e32-5a24-4102-a7b1-a636659ea070" Alias="Projects" Level="2">
  <Info>
    <Parent Key="36447a10-1a3e-472b-99e9-9069a116eacf">Official Website - Home</Parent>
    <Path>/OfficialWebsiteHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projects</ContentType>
    <CreateDate>2024-09-16T22:22:07</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d3bf6f32-3015-42dd-9fa1-222469360ded">projects</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>