<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b8f01e7-6305-437c-8e36-99622b8a3fdc" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2024-09-15T12:17:53</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <officeEmailAddress>
      <Value><![CDATA[sales@onatrix.se]]></Value>
    </officeEmailAddress>
    <officeLocation>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </officeLocation>
    <officePhoneNumber>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </officePhoneNumber>
    <siteLogotype>
      <Value><![CDATA[[
  {
    "key": "35aa34c8-40d1-4313-9901-1cd66a6e64ac",
    "mediaKey": "f0781120-9b0e-49f7-94fa-e49312fd8b6c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </siteLogotype>
    <siteName>
      <Value><![CDATA[Onatrix Website]]></Value>
    </siteName>
    <siteTagline>
      <Value><![CDATA[Welcome to us]]></Value>
    </siteTagline>
    <socialMediaPlatforms>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "847da592-43ec-47f3-8dee-cf0388ca79e6",
      "udi": "umb://element/c39ab014ad9545cb923ec1931f72f1e2",
      "platformName": "[\u0022Facebook\u0022]",
      "platformAccountUrl": "https://facebook.com/onatrix"
    },
    {
      "contentTypeKey": "847da592-43ec-47f3-8dee-cf0388ca79e6",
      "udi": "umb://element/28e81c296f444032b1453699775f3fab",
      "platformName": "[\u0022Twitter\u0022]",
      "platformAccountUrl": "https://x.com/onatrix"
    },
    {
      "contentTypeKey": "847da592-43ec-47f3-8dee-cf0388ca79e6",
      "udi": "umb://element/2cf6a4c824aa434d8b8500a943c5e655",
      "platformName": "[\u0022LinkedIn\u0022]",
      "platformAccountUrl": "https://linkedin.com/onatrix"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c39ab014ad9545cb923ec1931f72f1e2",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/28e81c296f444032b1453699775f3fab",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/2cf6a4c824aa434d8b8500a943c5e655",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </socialMediaPlatforms>
  </Properties>
</Content>