@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ModularPage>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
	Layout = "mainLayout.cshtml";

	var rootContents = UmbracoHelper.ContentAtRoot();
    var modularPage = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "modularPage");
    var servicecontent = modularPage?.Children.FirstOrDefault(x => x.ContentType.Alias == "serviceListPage") ?? null;

	var pageTitle = servicecontent?.Value<string>("pageTitle") ?? "";
	var customHeadline = servicecontent?.Value<string>("customHeadline") ?? "";
	
}

@await Html.GetBlockGridHtmlAsync(Model!.Layout)
@await Html.PartialAsync("partials/static/aboutUs.cshtml")
@await Html.PartialAsync("partials/static/ourStory.cshtml")
@await Html.PartialAsync("partials/static/successStory.cshtml")



<section class="our-services">
	<div class="container">
		<div class="titles">
			<h6>@pageTitle</h6>
			<h2>@customHeadline</h2>
		</div>
		@await Html.PartialAsync("partials/static/ourServices.cshtml")

	</div>
</section>

@await Html.PartialAsync("partials/static/partnersSection.cshtml")



