@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headline3Content = Model?.Content.Value<string>("headline3Content");
}

@if (!string.IsNullOrEmpty(headline3Content)){
    <h3>@headline3Content</h3>
}
