@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var headline2Content = Model?.Content.Value<string>("headline2Content");
}

@if (!string.IsNullOrEmpty(headline2Content)){
    <h2>@headline2Content</h2>
}
