@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkText = Model?.Content.Value<string>("linkText");
}

@if (!string.IsNullOrEmpty(linkText)){
    <a>@linkText</a>
}


